<!DOCTYPE html>
<html>
  <head>
      <title>About us</title>
      <meta name="description" content ="Friend finder using Gemini">
  <body style="background-color: rgb(27, 27, 27)">
    
    <h1 style="color: rgb(204, 204, 204)">Who are LiZhuLee</h1>
    <hr>

    <h2 style="color: rgb(204, 204, 204)">Who we are?</h2>
    <p style="color: rgb(155, 155, 155)">LiZHuLee is a team of three developers, Yang Li, Jordan Zhu and Jackson Lee, all from the Queens NYC Area.</p>
    <h2 style="color: rgb(204, 204, 204)">What do we do?</h2>
    <p style="color: rgb(155, 155, 155)">LiZhuLee is dedicated to making fun projects and working</p>
    <h2 style="color: rgb(204, 204, 204)">Where are we from</h2>
    <p style="color: rgb(155, 155, 155)">LiZhuLee is from the Queens area, and all derive from Forest Hills High School</p>

    <img src = "pictures/Yang.jpg" height = 200 alt="Photo of Yang Li" title = "Yang Li">
    <img src = "pictures/Jordan.jpg" height =200 alt="Photo of Jordan Zhu" title = "Jordan Zhu">
    <img src = "pictures/Jackson.jpg"height = 200 alt="Photo of Jackson Lee" title = "Jackson Lee">
    <a href = "index.html" style="color: rgb(155, 155, 155)">
        Go Back
    </a>
  </body>
</html>
