<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>FindAFriend</title>
    <link
      rel="stylesheet"
      href="https://pyscript.net/releases/2025.7.2/core.css"
    />
    <script
      type="module"
      src="https://pyscript.net/releases/2025.7.2/core.js"
    ></script>
  </head>
  <body>
    <!-- <h1>Polyglot 🦜 💬 🇬🇧 ➡️ 🏴‍☠️</h1>
    <p>Translate English into Pirate speak...</p>
    <input type="text" id="english" placeholder="Type English here..." />
    <button py-click="translate_english">Translate</button>
    <div id="output"></div>
    <script type="py" src="./main.py" config="./pyscript.json"></script> -->
    <h1>Find A Friend!</h1>
    <hr />
    <a href="https://www.google.com" target="_self"> Google </a>
    <p>This is some <b>sample</b> text</p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odio accusamus
      ad itaque error velit beatae nobis, vitae, quisquam accusantium quis ipsa
      perferendis nostrum deserunt autem atque ut repellat pariatur optio!
    </p>
  </body>
</html>
