<!DOCTYPE html>
<html>
  <head>
      <title>Sign Up</title>
      <meta name="description" content ="Friend finder using Gemini">
  <body style="background-color: rgb(27, 27, 27)">
    <a href="index.html">
        <img style="float: right;" src = "pictures/home button.png" height = 100 alt="Home Button" title = "Home Button">
    </a>
    <h1 style="color: rgb(204, 204, 204)">Sign Up</h1>
    <hr>

    <form action="action_page.php" method="POST">
        <div>
            <label for="phonenumber" style="color: rgb(204, 204, 204)">Phone Number:</label>
            <input type="tel" id = "phone" name="phonenumber" required placeholder="(123)-456 7890">
        </div>

        <br> 


        <div>
            <label for="password" style="color: rgb(204, 204, 204)">Password:</label>
            <input type="password" id = "password" name="password" required>
        </div>

        <br>


        <div>
            <input type="submit">
        </div>

        <br>


        


    </form>
    
  </body>
</html>
